@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 100px;
	font-family: Arial, Helvetica, sans-serif;
	width: 900px;
	background: #CFF;
	border-style: solid;
	border-width: 10px;
	padding: 50px;
	border-color: #939;
}

h1 {
	text-align: center;
	color: #939;
	font-size: 36px;
}

h2 {
	color: #C6F;
	font-size: 26px;
}

h3 {
	color: #6CF;
	font-size: 22px;
}

p {
	font-size: 18px;
}

img {
	border: 15px solid #939;
	padding: 10px;	
	margin: 10px;
}

#nav {
	list-style-type: none;
	background-color: #FCF;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

#nav li {
	display: inline;
}

#nav a {
	border: 10px;
	border-left: solid;
	padding-right: 35px;
	padding-left: 35px;
}
